{% extends "base.html" %}

{% block content %}
<div class="container-single">
<h1 class="slug">{{ check.name }}</h1>

<h2>Status</h2>
<p class="indent1">{{ check.status }}</p>

<h2>Description</h2>
<p class="indent1">{{ check.description }}</p>

<h2>Prevalence</h2>
<h4>Query</h4>
{% highlight 'mysql' %}
{{ check.query_check }}
{% endhighlight %}

<h4>Result</h4>
<p class="indent2">{{ check.count }}</p>

<h2>Example</h2>

<h4>Query</h4>
{% highlight 'mysql' %}
{{ check.query_example }}
{% endhighlight %}

<h4>Result</h4>
{% highlight 'json' %}
{{ check.example_s }}
{% endhighlight %}

<hr class="space" />

<a href="/">Back to results</a>
</div>
{% endblock %}
